.foto-perfil {
    border-radius: 100%;
    display: inline-block;
    max-width: 500px;
    border: 1px solid white;
    
    
    
}

body{
    background-color: #f3f3f3;
}

#central{
    margin-top: 150px;
}
.circulo{
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
        
}

#buttons{
    margin-top: 200px;
}
#circulo1{
    background-color: #EEA302;
}
#circulo2{
   background-color:#FF3B25;
}
#circulo3{
    background-color: #80D8DA;
}
.texto-circulo{
    text-align: center;
}