/* Letra do "olá" e subtítulo*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


header{
    display: flex;
    gap:10px;
    margin-left: 40px;
}
#circulo-nome{
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #EEA302;
    margin-top: 3px;
}

h1{
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 80px;
    font-weight: 900;
}
#subtitulo, #nome{
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 25px;
}
h6{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
    text-align: justify;
    font-size: 16px;
}

.foto-perfil {
    border-radius: 100%;
    display: inline-block;
    max-width: 500px;
    border: 1px solid white;
    
      
}
header{
    margin-top: 30px;
   
}
body{
    background-color: #f3f3f3;
    color:#212529;
}

#central{
    margin-top: 150px;
}
.circulo{
    border-radius: 50%;
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 1px solid #212529;
    color:#212529;
    text-decoration: none;
          
}
.circulo:hover{
    background-color: #fafafa;
    color: #212529;
}

#buttons{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.circulo1{
    background-color: #EEA302;
}

.circulo2{
   background-color:#FF3B25;
}
.circulo3{
    background-color: #80D8DA;
}
.texto-circulo{
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 120px;

}

footer{
    border-top: 1px solid #C7C7C7;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.footer-itens{
    text-align: center;
}

.titulo-info{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 0px;
}
p{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
    font-size: 15px;
}